<style>
	*{
		font-family: 'Dancing Script', cursive;
	}
  
	body, html {
		width: 100%;
		height: 100%;
	}

	.container{
		position: relative;
	}

	.container img {
		position: relative;
		width: 100%;
		max-width: 100%;
		object-fit: contain;
	}
  </style>
  
  
<div class="container">
    <img src="/images/fondo-flores.svg"/>
</div>

  