---
const { nombre, mesa, personas } = Astro.props;
---

<style>
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 5%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .ticket {
    display: flex;
    width: 90%;
    height: 250px;
    background: #000;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    border: 5px solid #AA2257;
    position: relative;
    padding: 3%;
    padding-top: 5%;
  }

  .middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .graduacion-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .birrete {
    width: 40px;
    height: auto;
  }

  .ticket h1 {
    font-size: clamp(1rem, 4vw, 4rem);
    margin: 0;
  }

  .ticket p {
    margin: 5px 0;
    font-size: 18px;
  }

  .details {
    font-size: clamp(1rem, 1vw, 4rem);
    margin-top: 2%;
    opacity: 0.9;
  }

  .right-panel {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: clamp(0.5rem, 5vw, 1rem);
    padding: 10px;
    background: #AA2257;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }

  .right-panel span {
    transform: rotate(180deg);
    margin: auto;
  }
</style>

<div class="container">
  <div class="ticket">
    <div class="middle">
      <div class="graduacion-header">
        <img class="birrete" src="/images/birrete-l.svg" alt="birrete-izquierda">
        <h1>GRADUACIÓN</h1>
        <img class="birrete" src="/images/birrete-r.svg" alt="birrete-derecha">
      </div>
      <p><strong>Nombre:</strong> {nombre}</p>
      <p><strong>Personas:</strong> {personas}</p>
      <p><strong>Mesa:</strong> {mesa}</p>
      <p class="details">"Gracias por acompañarme en este día especial"</p>
    </div>

    <div class="right-panel">
      <span>ADMITE {personas} PERSONA</span>
      <span>14 JUNIO 2025</span>
    </div>
  </div>
</div>
